<div class="container">
	<div class="card">

		<div class="container">
			<div class="row justify-content-center">
				<h1>Iniciar Sesión</h1>
			</div>
		</div>

		<form class="container">
			<div class="form-group">
				<label for="name">Email</label>
				<input type="email" class="form-control" name="email" [(ngModel)]="login.email"/>
			</div>
			<div class="form-group">
				<label for="password">Contraseña</label>
				<input type="text"  class="form-control" name="password" [(ngModel)]="login.password"/>
			</div>
		</form>

		<div id="botonera" class="container">
			<div class="row justify-content-center">
				<a>Crear una cuenta.</a>
			</div>
			<div class="row justify-content-end">
				<div class="col-md-3">
					<button class="btn purple" (click)="onLogin()">
						LogIn
						<i class="fa fa-sign-out" aria-hidden="true"></i>
					</button>
				</div>
			</div>
		</div>

	</div>
</div>