<div class="card-noticia-container card">

  <div class="container tittle">
    <a href="">{{date}}</a> 
  </div>


  <div id="Partido" class="container">
    <div class="row">
      <div class="col">
        <div class="team">
          <img class="escudo" src="/assets/logo.png" alt="">
          <p>{{local}}</p>
        </div>
      </div>
      <div class="col">
        <div class="team">
          <img class="escudo" src="/assets/logo.png" alt="">
          <p>{{visitor}}</p>
        </div>
      </div>
    </div>  
  </div>

  <div class="description container">
      <p>Estadio: {{stadium}}</p>
      <p>Fecha: {{date}}</p>
      <p>Hora: {{time}}</p>
  </div>

</div>        
