<div class="card">

  <div id="Partido" class="container">
    <div class="row">
      <div class="col">
        <div class="team">
          <p>{{Equipo_local}}</p>
          <h2>{{Resultado1}}</h2>
        </div>
      </div>
      <div class="col">
        <div class="team">
          <p>{{Equipo_visitante}}</p>
          <h2>{{Resultado2}}</h2>
        </div>
      </div>
    </div>  
  </div>

  <div class="description container">
      <p>Estadio: {{Campo}}</p>
      <p>Fecha: {{Fecha}}</p>
      <p>Hora: {{Hora}}</p>
  </div>

</div>        
