#news-space > * {
    margin-top: 20px;
}

.card-noticia-container{
    background-color: white;
}

.tittle {
    background-color: #ba68c8;
}

.tittle a {
    color:white;
    font-size: 20px;
    font-weight: 500;
}

.description {
    font-size: 16px;
    font-weight: normal;
}

.margin-top{
    margin-top: 15px;
}

label {
    font-size: 30px;
}