<header class="card-shadow">
    <div class="wrapper">
      <div class="trade">
        <img src="/assets/logo_blanco.png" alt="">
        JaguerMeister C.F.
      </div>
      <nav>
        <a [routerLink]="['Noticias']" [routerLinkActive]="['router-selected']">Noticias</a>
        <a [routerLink]="['Calendario']" [routerLinkActive]="['router-selected']">Calendario</a>
        <a [routerLink]="['JDM']" [routerLinkActive]="['router-selected']">JDM</a>
        <a [routerLink]="['Plantilla']" [routerLinkActive]="['router-selected']">Plantilla</a>
        <a [routerLink]="['Login']" [routerLinkActive]="['router-selected']">Login</a>
      </nav>
    </div>
  </header>
  
  <div class="general-container">
    <router-outlet></router-outlet>
  </div>